* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Background-1.jpg);
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.container {
    width: 520px;
    height: auto;
    margin: 100px auto;
    background-image: url(Background-2.jpg);
    border-radius: 25px;
}

.base {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px;
    float: none;
}

.block {
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
}

.base h4 {
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0px;
    box-shadow: 4px 2px red;
    background: yellow;
    font-size: 34px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 0.5;
    letter-spacing: 0.5px;
    word-spacing: 2.7px;
    color: gold;
    font-weight: bolder;
    text-transform: uppercase;
}

input[type="text"] {
    width: 140px;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px;
    padding: 12px;
    background-image: url(Background-3.png);
    border-radius: 2px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="text"]:focus {
    background-color: #ffffff;
    border: 2px solid orange;
    outline: none;
}

input[type="button"] {
    width: 150px;
    margin-left: 35%;
    margin-top: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    background-image: url(Background-1.jpg);
    color: black;
    font-weight: bold;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-image: url(Background-4.jpg);
}

#age {
    display: block;
    margin: 10px;
    margin-top: 35px;
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    font-family: verdana;
    font-size: 23px;
    font-weight: normal;
    line-height: 2;
    word-spacing: 3px;
    color: orangered;
    text-transform: capitalize;
}